<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');
  </style>
<div class="navbar navbar-default wrapper">
  <div class="navbar-header heading">
    <p class="title">SOPHIE MARTIN</p>
  </div>
    <ul class="nav navbar-nav">
      <li class="menu-button"><a href="#" class="button-text active" routerLink="">HOME</a></li>
      <li class="menu-button"><a href="#" class="button-text" routerLink="experience">EXPERIENCE</a></li>
      <li class="menu-button"><a href="#" class="button-text" routerLink="contact">CONTACT</a></li>
    </ul>

    <!-- <button type="button" class="menu-button">HOME</button>
    <button type="button" class="menu-button">EXPERIENCE</button>
    <button type="button" class="menu-button">CONTACT</button> -->
</div>